.pageHeader {
    text-align: center;
    padding: 2% 0 2% 0;
}

.list {
    display: box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    
.shop {
    flex-basis: 28%;
    border: 1px dotted black;
    padding: .5em;
    margin: 0.5em;
    margin: 0;
    padding: .25%;
}